.css-5wdp45-MuiDataGrid-root{
    border: 1px solid #C4D7DB !important;
    border-radius: 10px !important;
    background: #fff !important;
}
.MuiDataGrid-root{
    border: 1px solid #C4D7DB !important;
    border-radius: 10px !important;
    background: #fff !important;
    --DataGrid-rowBorderColor:unset !important
}
/* .css-19qwjc1{
    border: 1px solid #C4D7DB !important;
    border-radius: 10px !important;
    background: #fff !important;
}
.css-19qwjc1{
    --DataGrid-rowBorderColor:unset !important
} */
.css-gvoll6{
    padding: 0px 20px !important;
    border-bottom: 1px solid #C4D7DB !important;
}
/* .css-19qwjc1 .MuiDataGrid-row{
    max-height: unset !important;
    min-height: unset !important;
    border-bottom: 1px solid #DFF1F5 !important;
    padding: 20px !important;
} */
.MuiDataGrid-row{
    max-height: unset !important;
    min-height: unset !important;
    border-bottom: 1px solid #DFF1F5 !important;
    padding: 20px !important;
}
.MuiInputBase-root{
    height: 52px !important;
}
.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root{
    height: 52px !important;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline{
    border: 0 !important;
}
.css-1lt5qva-MuiCardContent-root{
    padding: 60px !important;
}
.MuiCardContent-root{
    padding: 60px !important;
}
.css-1gqmilo-MuiDataGrid-columnHeaderTitle{
    color: #0C3944 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}
/* .css-yseucu-MuiDataGrid-columnHeaderRow{
    padding: 0px 20px !important;
    border-bottom: 1px solid #C4D7DB !important;
} */

.MuiDataGrid-row--borderBottom{
    padding: 0 20px !important;
    border-bottom: 1px solid #C4D7DB !important;
}
/* .css-5wdp45-MuiDataGrid-root .MuiDataGrid-virtualScrollerContent .MuiDataGrid-row{
    max-height: unset !important;
    min-height: unset !important;
    border-bottom: 1px solid #DFF1F5 !important;
    padding: 20px !important;
} */
.css-16yc7an-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    width: unset !important;
}
.css-5wdp45-MuiDataGrid-root{
    --DataGrid-rowBorderColor:unset !important
}
.css-5wdp45-MuiDataGrid-root .MuiDataGrid-cellEmpty{
    width: unset !important;
}
.css-5wdp45-MuiDataGrid-root .MuiDataGrid-cell:focus,
.css-5wdp45-MuiDataGrid-root .MuiDataGrid-cell:focus-within{
    outline: unset !important;
}
.css-19qwjc1 .MuiDataGrid-cell:focus-within{
    outline: unset !important;
}
.css-131vf6y::before{
    border-bottom: unset !important;
}
.css-16yc7an-MuiInputBase-root-MuiInput-root-MuiSelect-root::before{
    border-bottom: unset !important;
}
.MuiOutlinedInput-notchedOutline{
    display: none !important;
}
.MuiInputBase-root{
    height: 100% !important;
}
.MuiInputAdornment-root .MuiButtonBase-root{
    background-color:#9BE3F9 !important;
}
.MuiDataGrid-footerContainer{
    display: none !important;
}
.MuiInputAdornment-root{
    margin-right: 10px !important;
}