@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Urbanist", serif !important;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/public/image1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

input {
  font-family: "Urbanist" !important;
}

input[type="password"]::placeholder {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  /* font-style: italic; */
}

.onboard-left-side {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebf7f7;
  background-image: url('../src/assets/Mask_group.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}

.header-shadow {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-hover:hover {
  border-color: #81CAC8;
  background-color: #E2FFFE;
}

.card-hover .card-buttons {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s ease 0.3s;
}

.card-hover:hover .card-buttons {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0s;
}

.onbording {
  background: url('/public/Mask_group.svg') no-repeat center/cover, linear-gradient(to top, #8eccdd, #c8f6e9) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-pc-name="editor"] {
  width: 100%;
  position: relative;
  right: 21px;
  z-index: 1;
}

[data-pc-section="toolbar"].ql-toolbar.ql-snow {
  border-top: none;
  border-left: none;
  padding-top: 21px;
  padding-left: 67px;
  border-right: none;
}

[data-pc-section="content"].ql-container.ql-snow {
  max-height: 57vh !important;
  border-left: none;
  border-right: none;
  padding-left: 56px;
  border: unset !important;
}

.p-chips {
  padding: 10px;
}

.p-chips-multiple-container {
  margin: 0;
  padding: 0;
}

.p-chips-token {
  cursor: default;
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  background: #E2E8F0;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  color: #506368;
  font-size: 14px;
  font-weight: 600;
}

.p-chips-token-label {
  margin-right: 10px;
}

.generativeform {
  scrollbar-width: none;
  /* Hide scrollbar by default */
  -ms-overflow-style: none;
  /* For IE and Edge */
  overflow: hidden;
  /* Hide overflow */
  box-sizing: border-box;
  /* Include padding and border in width/height */
  padding-bottom: 8px;
  /* Add padding to compensate for scrollbar */
}

.generativeform::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar by default */
}

.generativeform:hover {
  scrollbar-width: thin;
  /* Show a thin scrollbar on hover */
  -ms-overflow-style: auto;
  /* For IE and Edge */
  overflow-x: auto;
  /* Enable horizontal scrolling */
}

.generativeform:hover::-webkit-scrollbar {
  display: block;
  /* Display scrollbar on hover */
  width: 8px;
  /* Set scrollbar width */
}

.generativeform:hover::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar thumb color */
  border-radius: 4px;
  /* Rounded corners */
}

.generativeform:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Scrollbar track color */
  border-radius: 4px;
  /* Rounded corners */
}


.CircularProgressbar .CircularProgressbar-path {
  stroke: #0C3944 !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #FFFFFF !important;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #0C3944 !important;
  font-size: 30px !important;
  dominant-baseline: central !important;
  text-anchor: middle;
  font-weight: 700;
}

.whiteCircle {
  width: 80px;
  height: 80px;
  background: white;
  top: 17px;
  left: 17px;
  position: absolute;
  z-index: 0;
  border-radius: 50px;
}

.step-box {
  width: 120px;
  height: 6px;
  border-radius: 4px;
  background-color: #517EB833;
}

.active-step {
  background-color: #9BE3F9;
}

.gradient-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 30px;
  background: linear-gradient(135deg, rgb(90, 120, 242), rgb(0, 0, 0));
  padding: 2px;
}

.content {
  background: white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
}

.react-tel-input .form-control {
  height: 100% !important;
  width: 100% !important;
  border: none !important;
}

.react-tel-input .flag-dropdown {
  background: transparent !important;
  border: none !important;

}

.react-tel-input .form-control:focus {
  box-shadow: unset !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
    font-family: "Urbanist", serif !important;

  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.toggle {
  display: none !important;
}

@media (max-width: 995px) {
  .sidebar {
    display: none !important;
  }

  .toggle {
    display: block !important;
  }

  /* .main-body */

  .body-content {
    width: 100% !important;
    margin-left: 2px !important;
  }

  .dashboard {
    margin-left: 16px !important;
  }
}

@media (min-width: 768px) {
  .left-side-content {
    display: none !important;
  }
}

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: normal !important;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  padding: 0px 58px !important;
}